<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dots.dao.UserMapper">
    <select id="selectByName" parameterType="String" resultType="com.dots.domain.City" >
        select ID as id, `Name` as name, `CountryCode`as  countryCode
        from City where `Name`=#{name}
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.dots.domain.Staff" >
        select staff_id as staffId, `first_name` as firstName, `address_id`as  address, email
        from staff where `staff_id`=#{id}
    </select>

</mapper>